### --- LaTeX (Memoria) ---
*.aux
*.log
*.toc
*.out
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls
*.run.xml
*.bcf
*.idx
*.ilg
*.ind

# Archivos temporales de MATLAB
*.asv
*.slxc
*.mex*

# Carpetas de caché de simulación y generación de código
slprj/
_out/

