### --- LaTeX (Memoria) ---
*.aux
*.log
*.toc
*.out
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls
*.run.xml
*.bcf
*.idx
*.ilg
*.ind

# Archivos temporales de MATLAB
*.asv
*.slxc
*.mex*

# Carpetas de caché de simulación y generación de código
slprj/
_out/

### --- Code Composer Studio e IDEs ---
# Carpetas de compilación y binarios (evita subir el .out y los .obj)
CPU1_RAM/
CPU1_FLASH/

# Configuración local de herramientas y asistentes virtuales
.claude/
.theia/

